// Заголовки, общие БЄМ блоки и прочее...
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
picture {
	display: flex;
	align-items: center;
}
.heading {
	margin-bottom: 50px;
	&__title {
		font-weight: 600;
		font-size: 54px;
		line-height: 59px;
		color: $text-headings;
		& span {
			display: block;
			color: $text-contrast-primary;
		}
	}
	& .title-sm {
		font-size: 32px;
		line-height: 35px;
	}
	&__sub-title {
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text;
		max-width: 477px;
		margin-top: 24px;
	}
}

.form-item {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
	& input {
		border: 1px solid $stroke-light;
		border-radius: 63px;
		padding: 12px 20px;
		min-height: 45px;
		font-family: "Montserrat", sans-serif;
		width: 100%;
		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: $text-placeholder;
			font-family: "Montserrat", sans-serif;
		}
	}
}

.btn {
	border-radius: 62px;
	padding: 13px 32px;
	min-height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	line-height: 18px;
	color: $text-button;
	background-color: $bg-contrast-2;
	position: relative;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $button-primary-yellow-hover;
		transform-origin: 100% 50%;
		transform: scale3d(0, 1, 1);
		transition: transform .25s;
	}
	& input {
		position: absolute;
		width: 100%;
		height: 100%;
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;
		background-color: transparent;
		color: $text-button;
		cursor: pointer;
	}
	& span {
		position: relative;
		z-index: 2;
	}
	cursor: pointer;
	@media (any-hover:hover) {
		&:hover {
			&::before {
				transform-origin: 0% 50%;
				transform: scale3d(1, 1, 1);
			}
			& .btn-phone__icon::before {
				background-color: $button-primary-yellow-hover;
			}
		}
	}
	&.disabled,
	&:disabled {
		cursor: default;
		pointer-events: none;
	}
}

.btn-border {
	background-color: transparent;
	border: 2px solid $bg-contrast-2;
	padding: 11px 32px;
	&::before {
		background-color: $bg-contrast-2;
	}
	@media (any-hover:hover) {
		&:hover {
			&::before {
				transform-origin: 0% 50%;
				transform: scale3d(1, 1, 1);
			}
		}
	}
}

.btn-blue {
	border-radius: 62px;
	padding: 13px 32px;
	min-height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	line-height: 18px;
	color: $bg-primary;
	background-color: $bg-contrast;
	position: relative;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $button-primary-blue-hover;
		transform-origin: 100% 50%;
		transform: scale3d(0, 1, 1);
		transition: transform .25s;
	}
	&.disabled,
	&:disabled {
		cursor: default;
		pointer-events: none;
	}
	& span {
		position: relative;
		z-index: 2;
	}
	@media (any-hover:hover) {
		&:hover {
			&::before {
				transform-origin: 0% 50%;
				transform: scale3d(1, 1, 1);
			}
		}
	}
}

.btn-phone {
	border-radius: 52px;
	padding: 4px 4px 4px 30px;
	background: $bg-contrast-2;
	height: 70px;
	display: flex;
	align-items: center;
	gap: 20px;
	width: 340px;
	&__text {
		flex-grow: 1;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: $text-button;
	}
	&__icon {
		width: 62px;
		height: 62px;
		flex-shrink: 0;
		border-radius: 50%;
		background-color: $text-headings;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			display: block;
			mask-image: url('../images/icons/phone.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $bg-contrast-2;
			width: 25px;
			height: 25px;
			mask-size: 21px 21px;
			transition: background-color .1s linear .1s;
		}
	}
}
.btn-show {
	font-weight: 600;
	font-size: 16px;
	color: $bg-contrast;
	padding-bottom: 4px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $bg-contrast;
	}
}

.widget-call {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $bg-contrast;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 30px;
	bottom: 100px;
	z-index: 5;
	cursor: pointer;
	&::before {
		content: "";
		width: 30px;
		height: 30px;
		display: block;
		mask-image: url('../images/icons/phone.svg');
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: $white;
		mask-size: 30px 30px;
	}
}
.page-title {
	font-weight: 600;
	font-size: 54px;
	line-height: 59px;
	color: $text-headings;
	& span {
		color: $text-contrast-primary;
	}
}
.page__body {
	padding: 120px 0 0px;
}

.aside {
	position: sticky;
	top: 20px;
	display: grid;
	align-items: start;
	gap: 20px;
}

.castle-types {
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	&__button {
		max-width: 153px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
}
.castle-item {
	height: 115px;
	border: 1px solid $stroke-light;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.castle-advantages {
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 20px;
	}
	&__item {
		display: grid;
		grid-template-columns: 54px 1fr;
		align-items: center;
		gap: 16px;
	}
	&__content {
		display: grid;
		gap: 10px;
		align-items: start;
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 54px;
		flex-shrink: 0;
	}
	&__caption {
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
		color: $text-headings;
	}
	&__description {
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text;
	}
}
@for $i from 1 through 6 {
	.castle-advantages__item--#{$i} {
		& .castle-advantages__icon {
			background-image: url('../images/castle-advantages/icon-#{$i}.svg');

		}
	}
}