// Заголовки, общие БЄМ блоки и прочее...
#app {
	min-height: 100vh;
}
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
picture {
	display: flex;
	align-items: center;
}
.heading {
	@include adaptiv-value("margin-bottom", 50, 30, 1);
	&__title {
		font-weight: 600;
		color: $text-headings;
		@include adaptiv-value("font-size", 54, 32, 1);
		@include adaptiv-value("line-height", 59, 35, 1);
		& span {
			display: block;
			color: $text-contrast-primary;
		}
	}
	& .title-sm {
		@include adaptiv-value("font-size", 32, 22, 1);
		@include adaptiv-value("line-height", 35, 24, 1);
	}
	&__sub-title {
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text;
		max-width: 477px;
		margin-top: 24px;
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.form-item {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
	& input {
		border: 1px solid $stroke-light;
		border-radius: 63px;
		padding: 10px 20px;
		min-height: 45px;
		font-family: "Montserrat", sans-serif;
		width: 100%;
		font-size: 16px;
		line-height: 21px;
		color: $text-default-text;
		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: $text-placeholder;
			font-family: "Montserrat", sans-serif;
		}
	}
}

.btn {
	border-radius: 62px;
	padding: 12px 32px;
	min-height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	line-height: 18px;
	color: $text-button;
	background-color: $bg-contrast-2;
	position: relative;
	overflow: hidden;
	transition: background-color .25s;
	@media (any-hover:hover) {
		&:hover {
			cursor: pointer;
			background-color: $button-primary-yellow-hover;
			& .btn-phone__icon::before {
				background-color: $button-primary-yellow-hover;
				animation-play-state: paused;
			}
		}
	}
	&.disabled,
	&:disabled {
		cursor: default;
		pointer-events: none;
	}
	@media screen and (max-width: $md) {
		border: 2px solid $bg-contrast-2;
		background-color: transparent;
	}
}

.btn-border {
	background-color: transparent;
	border: 2px solid $bg-contrast-2;
	padding: 11px 32px;
	@media (any-hover:hover) {
		&:hover {
			background-color: $bg-contrast-2;
		}
	}
}

.btn-blue {
	border-radius: 62px;
	padding: 13px 32px;
	min-height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	line-height: 18px;
	color: $bg-primary;
	background-color: $bg-contrast;
	position: relative;
	overflow: hidden;
	transition: background-color .25s;
	&.disabled,
	&:disabled {
		cursor: default;
		pointer-events: none;
	}
	@media (any-hover:hover) {
		&:hover {
			background-color: $button-primary-blue-hover;
			& .btn-phone__icon::before {
				background-color: $button-primary-blue-hover;
				animation-play-state: paused;
			}
			// &::before {
			// 	transform-origin: 0% 50%;
			// 	transform: scale3d(1, 1, 1);
			// }
		}
	}
}

.btn-phone {
	border-radius: 52px;
	padding: 4px 4px 4px 30px;
	background: $bg-contrast-2;
	height: 70px;
	display: flex;
	align-items: center;
	gap: 20px;
	width: 340px;
	flex-shrink: 0;
	@media screen and (max-width: $lg) {
		width: 290px;
		height: 61px;
	}
	@media screen and (max-width: $md) {
		width: 100%;
		padding: 4px;
		background: $bg-contrast-2;
	}
	&__text {
		flex-grow: 1;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: $text-button;
		@media screen and (max-width: $lg) {
			font-size: 18px;
			text-align: center;
		}
	}
	&__icon {
		width: 62px;
		height: 62px;
		flex-shrink: 0;
		border-radius: 50%;
		background-color: $text-headings;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			display: block;
			mask-image: url('/images/icons/phone.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $bg-contrast-2;
			width: 25px;
			height: 25px;
			mask-size: 21px 21px;
			transition: background-color .25s linear 0s;
		}
		@media screen and (max-width: $lg) {
			width: 54px;
			height: 54px;
		}
		@media screen and (max-width: $md) {
			display: none;
		}
	}
}

.form {
	& .btn {
		@media screen and (max-width: $md) {
			background-color: $bg-contrast-2;
		}
	}
}

.btn-show {
	font-weight: 600;
	font-size: 16px;
	color: $bg-contrast;
	padding-bottom: 4px;
	position: relative;
	transition: color .25s;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: currentColor;
	}
	@media (any-hover: hover) {
		&:hover {
			color: $button-link-hover;
		}
	}
}

.widget-call {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $bg-contrast;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 106px;
	bottom: 100px;
	z-index: 5;
	cursor: pointer;
	transition: background-color .25s;
	&::before {
		content: "";
		width: 30px;
		height: 30px;
		display: block;
		mask-image: url('/images/icons/phone.svg');
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: $white;
		mask-size: 30px 30px;
		animation: trin 6s linear infinite;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $button-primary-blue-hover;
			&::before {
				animation-play-state: paused;
			}
		}
	}
	@media screen and (max-width: $xxxl) {
		right: 50px;
	}
	@media screen and (max-width: $md) {
		right: 30px;
		width: 50px;
		height: 50px;
		&::before {
			width: 20px;
			height: 20px;
			mask-size: 20px 20px;
		}
	}
}

.page-title {
	font-weight: 600;
	color: $text-headings;
	@include adaptiv-value("font-size", 54, 26, 1);
	@include adaptiv-value("line-height", 59, 29, 1);
	@media screen and (max-width: $xxxl) {
		hyphens: auto;
	}
	& span {
		color: $text-contrast-primary;
		@media screen and (max-width: $md) {
			display: block;
		}
	}
}
.page__body {
	padding: 120px 0 60px;
	& > *:last-child {
		padding-bottom: 0;
	}
	@media screen and (max-width: $lg) {
		padding: 80px 0 60px;
	}
	@media screen and (max-width: $md) {
		padding: 60px 0 30px;
	}
}

.aside {
	position: sticky;
	top: 20px;
	display: grid;
	align-items: start;
	gap: 20px;
	@media screen and (max-width: $md) {
		position: static;
	}
}

.castle-types {
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		@media screen and (max-width: $lg) {
			grid-template-columns: repeat(3, 1fr);
			gap: 9px;

		}
	}
	&__button {
		max-width: 153px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		padding: 12px;
		@media screen and (max-width: $md) {
			max-width: 100%;
		}
	}
}
.castle-item {
	&__image {
		height: 115px;
		border: 1px solid $stroke-light;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		@media screen and (max-width: $sm) {
			height: 50px;
			padding: 6px;
			border-radius: 6px;
		}
	}
	&__logo {
		@media screen and (max-width: $sm) {
			width: 42px;
			height: 36px;
		}
	}
}

.castle-advantages {
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 20px;
		@media screen and (max-width: $lg) {
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}
	&__item {
		display: grid;
		grid-template-columns: 54px 1fr;
		align-items: center;
		gap: 16px;
		@media screen and (max-width: $md) {
			grid-template-columns: 34px 1fr;
			align-items: start;
		}
	}
	&__content {
		display: grid;
		gap: 10px;
		align-items: start;
		@media screen and (max-width: $md) {
			gap: 8px;
		}
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 54px;
		flex-shrink: 0;
		@media screen and (max-width: $md) {
			height: 34px;
			background-size: 34px 34px;
		}
	}
	&__caption {
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
		color: $text-headings;
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 15px;
		}
	}
	&__description {
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text;
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 15px;
		}
	}
}
@for $i from 1 through 6 {
	.castle-advantages__item--#{$i} {
		& .castle-advantages__icon {
			background-image: url('/images/castle-advantages/icon-#{$i}.svg');
		}
	}
}

.aside__module {
	width: 100%;
	height: 546px;
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	& iframe {
		border-radius: 12px !important;
	}
	& .badge {
		min-width: 100%
	}
	@media screen and (max-width: $lg) {
		height: 650px;
	}
}

.section-groups {
	display: grid;
	gap: 100px;
	@media screen and (max-width: $lg) {
		gap: 80px;
	}
	@media screen and (max-width: $md) {
		gap: 60px;
	}
}

.page-layout {
	display: grid;
	grid-template-columns: 1fr 380px;
	align-items: start;
	gap: 60px;
	@media screen and (max-width: $lg) {
		grid-template-columns: 1fr 320px;
		gap: 20px;
	}
	@media screen and (max-width: $md) {
		grid-template-columns: 1fr;
		gap: 60px;
	}
}

.questions-castle {
	background-color: $bg-seconadary;
	border-radius: 12px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	@media screen and (max-width: $lg) {
		padding: 40px 20px;
		text-align: center;
	}
	&__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 29px;
		color: $text-headings;
		@media screen and (max-width: $lg) {
			font-size: 22px;
			line-height: 24px;
		}
	}
	&__sub-title {
		font-size: 16px;
		line-height: 120%;
		color: $text-default-text-contrast;
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	&__button {
		margin-top: 10px;
	}
}

.services-mobile {
	display: none;
	@media screen and (max-width: $md) {
		position: fixed;
		bottom: 0;
		width: 100%;
		min-height: 78px;
		padding: 10px 0;
		box-shadow: 0 -1px 23px 0 rgba(0, 0, 0, 0.05);
		background: $bg-primary;
		z-index: 10;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 17px;
		padding: 0 14px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 6px;
		position: relative;
		padding: 0 2px;
		&:not(:last-child) {
			&::before {
				content: "";
				position: absolute;
				width: 1px;
				height: 47px;
				background: $bg-seconadary;
				left: 100%;
				transform: translateX(8px);
			}
		}
	}
	&__title {
		font-weight: 500;
		font-size: 10px;
		line-height: 11px;
		color: #000;
	}
	&__image {
		width: 30px;
		height: 30px;
		& img {
			height: 100%;
			width: 100%;
		}
	}
}

.phone-mobile {
	display: none;
	@media screen and (max-width: $md) {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		min-height: 78px;
		padding: 10px 0;
		box-shadow: 0 -1px 23px 0 rgba(0, 0, 0, 0.05);
		background: $bg-primary;
		z-index: 10;
	}
	& .btn-phone {
		height: 34px;
		font-size: 14px;
		padding: 10px;
		min-height: 34px;
	}
	&__body {
		display: grid;
		text-align: center;
		gap: 8px;
	}
	& p {
		font-weight: 500;
		font-size: 13px;
		color: $text-headings;
		& span {
			font-weight: 700;
			color: $bg-contrast;
		}
	}
}

body.home {
	@media screen and (max-width: $md) {
		.services-mobile {
			display: block;
		}
	}
	@media screen and (max-width: $md) {
		.phone-mobile {
			display: none;
		}
	}
}

.router-link-active {
	color: $bg-contrast;
}