.breadcrumbs {
	margin-bottom: 30px;
	@media screen and (max-width: $md) {
		margin-bottom: 16px;
	}
	&__list {
		@include reset-list;
		display: flex;
		align-items: center;
		gap: 8px;
		overflow-x: auto;
		&::-webkit-scrollbar {
			background: none;
		}
		&::-webkit-scrollbar-thumb {
			background: none;
		}
	}
	&__item {
		font-weight: 500;
		font-size: 13px;
		line-height: 120%;
		color: $text-contrast-primary;
		position: relative;
		white-space: nowrap;
		& + & {
			padding-left: 12px;
			&::before {
				content: "";
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: $bg-contrast;
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				left: 0;

			}
		}
	}
	&__link {
		color: $text-headings;
	}
}