// стили для content
.content {
	max-width: 970px;
	p {
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 10px;
		color: $text-default-text;
		@media screen and (max-width: $lg) {
			font-size: 16px;
			line-height: 20px;
		}
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	h1, h2, h3, h4 {
		font-weight: 600;
		margin-bottom: 20px;
		hyphens: auto;
	}
	h1 {
		font-size: 60px;
		line-height: 66px;
		@media screen and (max-width: $md) {
			font-size: 38px;
			line-height: 42px;
		}
	}
	h2 {
		font-size: 54px;
		line-height: 59px;
		@media screen and (max-width: $md) {
			font-size: 32px;
			line-height: 35px;
		}
	}
	h3 {
		font-size: 40px;
		line-height: 44px;
		@media screen and (max-width: $md) {
			font-size: 22px;
			line-height: 24px;
		}
	}
	h4 {
		font-size: 32px;
		@media screen and (max-width: $md) {
			font-size: 20px;
			line-height: 22px;
		}
	}
	a {
		// text-decoration: underline;
		// text-underline-offset: 1px;
		// text-decoration-skip-ink: none;
		color: $bg-contrast;
		position: relative;
		&::before {
			content: "";
			display: block;
			border-bottom: 1px solid $bg-contrast;
			transform: scaleX(1);
			transition: transform .25s ease-in-out;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			left: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $bg-contrast;
				&::before {
					transform: scaleX(0);
				}
			}
		}
		@media screen and (max-width: $md) {
			font-size: 14px;
		}
	}
	ul {
		@include reset-list;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 30px 0 44px;
		@media screen and (max-width: $md) {
			margin: 20px 0 40px;
		}
		li {
			position: relative;
			padding-left: 16px;
			font-size: 18px;
			line-height: 23px;
			color: $text-headings;
			@media screen and (max-width: $md) {
				font-size: 14px;
				line-height: 120%;
				color: rgba(33, 34, 38, 0.8);
			}
		}
		li::before {
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $bg-contrast;
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	ol {

		counter-reset: item;
		li {
			position: relative;
			display: flex;
			gap: 20px;
			font-size: 18px;
			line-height: 23px;
			@media screen and (max-width: $md) {
				font-size: 14px;
				line-height: 120%;
				color: rgba(33, 34, 38, 0.8);
			}
		}
		li::before {
			display: inline-block;
			content: counters(item, ".");
			counter-increment: item;
			font-size: 16px;
			color: $text-headings;
		}
	}
	q, blockquote {
		position: relative;
		display: flex;
		margin: 80px 0;
		max-width: 1070px;
		background-color: rgba(239, 239, 239, 0.4);
		padding: 28px 20px 28px 36px;
		color: #333;
		&::before, &::after {
			display: none;
		}
		&::before {
			position: absolute;
			top: 28px;
			left: 20px;
			height: calc(100% - 28px*2);
			content: '';
			display: block;
			width: 1px;
			background-color: blue;
		}
	}
	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: separate;
		table-layout: fixed;
		border: 1px solid #e5e5e7;
		border-radius: 12px;
		overflow: clip;
		display: grid;
		margin: 60px 0 40px;
		@media screen and (max-width: $md) {
			border-radius: 0;
		}
		@media screen and (max-width: $md) {
			border-left: none;
			border-right: none;
			margin: 0;
		}
		& thead {
			position: sticky;
			top: 0;
		}
		& tr {
			display: grid;
			grid-template-columns: 1fr 199px;
			&:not(:last-child) {
				border-bottom: 1px solid $stroke-light;
			}
			@media screen and (max-width: $lg) {
				grid-template-columns: 1fr 128px;
			}
		}
		& td, th {
			min-height: 54px;
			padding: 15px 20px;
			text-align: left;
			font-size: 18px;
			line-height: 23px;
			@media screen and (max-width: $lg) {
				font-size: 14px;
				line-height: 18px;
				min-height: 49px;
			}
		}
		& th {
			font-weight: 700;
			color: $text-headings;
			position: sticky;
			top: 0;
			background-color: $bg-seconadary;
			border-bottom: 1px solid $stroke-light;
		}
		& td {
			color: $text-default-text;
		}
	}
	& > *:last-child {
		margin-bottom: 0;
	}
	& > *:first-child {
		margin-top: 0;
	}
	picture {
		display: inline;
		@media screen and (max-width: $md) {
			display: flex;
			width: 100%;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.align-right {
		margin-left: 20px;
		float: right;
		@media screen and (max-width: $md) {
			float: none;
			margin: 30px 0;
			width: 100%;
		}
	}
	.align-left {
		margin-right: 20px;
		float: left;
		@media screen and (max-width: $md) {
			float: none;
			margin: 20px 0;
			width: 100%;
		}
	}
}
.disclamer {
	margin-top: 18px;
	@media screen and (max-width: $md) {
		margin-top: 10px;
	}
	p {
		margin: 0;
		color: $text-contrast-primary;
		@media screen and (max-width: $md) {
			font-size: 12px;
			line-height: 14px;
		}
	}
}
strong {
	font-weight: 700;
}

.table-wrap {
	@media screen and (max-width: $md) {
		margin: 60px -20px 30px;
	}
}