// стили формы
form {
	div[role="alert"] {
		display: none;
	}
	// Обертка поля .form-item
	.form-item--error {
		input {
			border-color: $system-error;
		}
		.form-item--error-message {
			font-size: 13px;
			color: $system-error;
		}
	}
}

// form div[role="alert"]{
// 	display: none;
// }
// form .form-item--error input{
// 	border-color: #FC5D67;
// }
// form .form-item--error .form-item--error-message{
// 	font-size: 12px;
// 	color: #FC5D67;
// 	margin-top: -12px;
// 	margin-bottom: 15px;
// }

input::-ms-clear,
input::-ms-reveal {
	display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}
input, textarea, select {
	-webkit-appearance: none;
}
// .form{
// 	&__field{
// 		width: 100%;
// 		height: 40px;
// 		background-color: lightgray;
// 		font-family: var(--font);
// 		font-weight: 400;
// 		font-size: 14px;
// 		border: 0;
// 		outline: none;
// 		border-radius: 0;
// 		margin-bottom: 20px;
// 		padding: 0 25px;
// 		&::-webkit-input-placeholder{
// 			font-family: var(--font);
// 			font-weight: 400;
// 			font-size: 14px;
// 			color: #949494;
// 			opacity: 1;
// 			transition: opacity 0.3s;
// 		}
// 		&::-moz-placeholder{
// 			font-family: var(--font);
// 			font-weight: 400;
// 			font-size: 14px;
// 			color: #949494;
// 			opacity: 1;
// 			transition: opacity 0.3s;
// 		}
// 		&:focus::-moz-placeholder{
// 			opacity: 0 !important;
// 		}
// 		&:focus::-webkit-input-placeholder{
// 			opacity: 0 !important;
// 		}
// 	}
// 	&__button{
// 		margin: auto;
// 	}
// }