.header {
	min-height: 87px;
	display: flex;
	align-items: center;
	padding: 23px 0;
	border-bottom: 1px solid $stroke-light;
	position: relative;
	position: sticky;
	top: 0;
	background: $white;
	z-index: 20;
	transform: translateY(0%);
	transition: transform 0.5s;
	&.hide {
		transform: translateY(-120%);
	}
	@media screen and (max-width: $md) {
		min-height: 50px;
		padding: 12px 0;
		border: none;
	}
	& .container {
		max-width: 100%;
		padding: 0 40px;
		width: 100%;
		@media screen and (max-width: 1600px) {
			padding: 0 20px;
		}
	}
	&__logo {
		flex-shrink: 0;
		position: relative;
		z-index: 20;
		@media screen and (max-width: $md) {
			z-index: 21;
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
	&__menu {
		& ul {
			@include reset-list;
			display: flex;
			align-items: center;
			gap: 12px 30px;
			flex-wrap: wrap;
			@media screen and (max-width: 1600px) {
				gap: 12px;
			}
			@media screen and (max-width: $xxxl) {
				flex-direction: column;
				flex-wrap: nowrap;
				gap: 16px;
				align-items: flex-start;
			}
		}
		& li {
			font-weight: 500;
			color: $text-default-text;
			position: relative;
		}
		& nav a {
			font-weight: 500;
			color: currentColor;
			transition: color .25s;
			@media screen and (max-width: $xxxl) {
				font-size: 22px;
				line-height: 24px;
				font-weight: 600;
			}
			@media screen and (max-width: $md) {
				font-size: 18px;
				line-height: 20px;
			}
		}
		& .menu__item--extended ul a {
			@media screen and (max-width: $xxxl) {
				font-size: 16px;
				line-height: 21px;
				font-weight: 400;
			}
		}
		@media screen and (max-width: $xxxl) {
			& .menu__body {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 20px;
				overflow-y: auto;
				overflow-x: hidden;
				width: 354px;
				margin-left: auto;
				padding: 87px 30px 30px;
				background-color: $bg-primary;
				position: relative;
				transform: translateX(100%);
				transition: transform .5s;
				.menu-open & {
					transform: translateX(0);
				}
			}
			position: fixed;
			width: 100%;
			right: 0;
			top: 0;
			height: 100dvh;
			z-index: 20;
			background: rgba(51, 102, 153, 0.3);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: opacity .25s, visibility .25s;
			.menu-open & {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
			&::before {
				content: "";
				position: fixed;
				top: 0;
				right: 0;
				width: 354px;
				height: 80px;
				background-color: $white;
				transform: translateX(100%);
				transition: transform .5s;
				z-index: 20;
				pointer-events: none;
				.menu-open & {
					transform: translateX(0);
				}
			}

		}
		@media screen and (max-width: $md) {
			& .menu__body {
				width: 100%;
				padding: 75px 20px 20px;
				margin: 0;
			}
			&::before {
				height: 50px;
				width: 100%;
			}
		}
	}
	&__location {}
	&__burger {
		display: none;
		@media (any-hover: hover) {
			&:hover {
				& span,
				&::before,
				&::after {
					background-color: $button-link-hover;
				}
			}
		}
		@media screen and (max-width: $xxxl) {
			width: 30px;
			height: 22px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 21;
			flex-shrink: 0;
			& span,
			&::before,
			&::after {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0%);
				width: 100%;
				height: 2px;
				background-color: $bg-contrast;
				transition: all .25s, rotate .25s linear 0.5s;
			}
			& span {
				.menu-open & {
					opacity: 0;
				}
			}
			&::before,
			&::after {
				content: "";
				.menu-open & {
					background-color: $button-link-hover;
					width: 22px;
				}
			}
			&::before {
				top: 2px;
				.menu-open & {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-135deg);
				}
			}
			&::after {
				bottom: 2px;
				.menu-open & {
					bottom: 50%;
					transform: translate(-50%, 50%) rotate(-45deg);
				}
			}
		}
	}
	&__actions {
		display: flex;
		align-items: center;
		gap: 30px;
		@media screen and (max-width: $xxxl) {
			margin-left: auto;
		}
		@media screen and (max-width: $md) {
			gap: 15px;
		}
	}
}

.contacts-header {
	display: none;
	@media screen and (max-width: $xxxl) {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__link {
		font-weight: 500;
		line-height: 18px;
		color: $text-default-text;
		display: flex;
		align-items: center;
		gap: 10px;
		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			flex-shrink: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 16px 16px;
		}
		&--phone {
			&::before {
				background-image: url('/images/icons/phone.svg');
			}
		}
		&--email {
			&::before {
				background-image: url('/images/icons/mail.svg');
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $bg-contrast;
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	background: rgba(51, 102, 153, 0.3);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 15;
	transition: opacity .25s, visibility .25s;
	// .menu-open & {
	// 	opacity: 1;
	// 	visibility: visible;
	// 	pointer-events: all;
	// }
}

.location-header {
	flex-shrink: 0;
	position: relative;
	&__current {
		position: relative;
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: 500;
		z-index: 21;
		color: $text-default-text;
		cursor: pointer;
		transition: color .25s;
		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			mask-image: url('/images/icons/location.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: #336699;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #336699;
			}
		}
		@media screen and (max-width: $md) {
			width: 18px;
			height: 18px;
			gap: 0;
			font-size: 0;
			&::before {
				mask-size: 16px 16px;
			}
		}
	}
	&__choice {
		box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
		background: $bg-primary;
		border-radius: 16px;
		padding: 20px;
		width: 372px;
		display: grid;
		gap: 20px;
		position: absolute;
		right: 0;
		top: calc(100% + 15px);
		transform: translateY(15px);
		opacity: 0;
		pointer-events: none;
		transition: transform .25s, opacity .25s;
		z-index: 11;
		&.active {
			opacity: 1;
			transform: translateY(0px);
			pointer-events: all;
		}
		.menu-open & {
			z-index: 9;
		}
		@media screen and (max-width: $md) {
			width: 240px;
			padding: 20px 10px;
			gap: 10px;
		}
	}
	&__header {
		font-weight: 600;
		font-size: 20px;
		line-height: 22px;
		color: $text-headings;
		& span {
			color: $text-contrast-primary;
		}
		@media screen and (max-width: $md) {
			font-size: 16px;
			line-height: 20px;
			text-align: center;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		gap: 10px;
		@media screen and (max-width: $md) {
			flex-direction: column;
		}
	}
	&__button {
		font-size: 16px;
		line-height: 18px;
		@media screen and (max-width: $md) {
			&:first-child {
				background-color: $bg-contrast-2;
			}
		}
		&.btn-border {
			padding: 11px 20px;
			flex-grow: 1;
		}
		@media screen and (max-width: $md) {
			width: 100%;
		}
	}
}
.menu {
	& nav a {
		@media (any-hover: hover) and (max-width: $xxxl) {
			&:hover {
				color: $bg-contrast;
			}
		}
	}
	& li {
		@media (any-hover: hover) and (min-width: $xxxl) {
			&:hover {
				color: $bg-contrast;
			}
		}
		& > ul {
			display: none;
		}
	}
	&__item--extended {
		display: flex;
		align-items: center;
		gap: 6px;
		& > a {
			display: flex;
			align-items: center;
			gap: 6px;
		}
		&.active {
			& > a::after {
				background-color: $bg-contrast;
				transform: rotate(180deg);
			}
			& > a {
				color: $bg-contrast;
			}
			& .menu__sub-list {
				margin-top: 8px;
			}
		}
		@media screen and (min-width: $xxxl) {
			&:hover {
				color: $bg-contrast;
				& > a::after {
					background-color: $bg-contrast;
					transform: rotate(180deg);
				}
				& .menu__sub-list {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
		@media screen and (max-width: $xxxl) {
			display: flex;
			flex-wrap: wrap;
			gap: 0;
		}
		& > a::after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			mask-image: url('/images/icons/chevron-down.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $text-default-text;
			transition: transform .25s, background-color .25s;
			@media screen and (max-width: $xxxl) {
				mask-image: url('/images/icons/chevron-down-menu.svg');
			}
		}
	}
	&__sub-list {
		position: absolute;
		z-index: 5;
		padding-top: 15px;
		top: 100%;
		left: 0;
		width: 189px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(15px);
		transition: opacity .25s, visibility .25s, transform .25s;
		@media screen and (max-width: $xxxl) {
			position: static;
			width: 100%;
			opacity: 1;
			visibility: visible;
			transform: none;
			flex: 1 1 100%;
			max-height: 0;
			overflow: hidden;
			padding: 0;
			transition: max-height .25s linear 0s, margin-top .25s linear 0s;
		}
		& ul {
			box-shadow: $shadow;
			background: $bg-primary;
			border-radius: 16px;
			padding: 20px 15px 20px 20px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			@media screen and (max-width: $xxxl) {
				box-shadow: none;
				background-color: transparent;
				padding: 0px 0 0;
				gap: 6px;
			}
		}
		& a {
			font-size: 16px;
			line-height: 21px;
			color: $text-default-text;
			transition: color .25s;
			@media (any-hover: hover) {
				&:hover {
					color: $bg-contrast;
				}
			}
		}
	}
}