.main__top {}
.top-main {
	background-color: $bg-seconadary;
	padding: 60px 0 60px;
	@media screen and (max-width: $md) {
		padding: 30px 0 30px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: $md) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__body {
		display: grid;
		gap: 20px;
		max-width: 800px;
		@media screen and (max-width: $md) {
			gap: 12px;
		}
	}
	&__sub-title {
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text-contrast;
		max-width: 640px;
		.castle-list & {
			max-width: 460px;
			@media screen and (max-width: $md) {
				max-width: 100%;
			}
		}
		@media screen and (max-width: $md) {
			max-width: 100%;
			font-size: 14px;
			line-height: 18px;
		}
	}
	&__card {
		display: grid;
		grid-template-columns: 390px 1fr;
		align-items: center;
		gap: 50px;
		@media screen and (max-width: $lg) {
			grid-template-columns: 300px 1fr;
			gap: 20px;
		}
		@media screen and (max-width: $md) {
			display: block;
		}
		&-image {
			width: 100%;
			height: 297px;
			border-radius: 28px;
			background-color: $bg-primary;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			& img {
				width: 100%;
			}
			@media screen and (max-width: $md) {
				display: none;
			}
		}
		& .top-main__body {
			gap: 30px;
			@media screen and (max-width: $md) {
				gap: 20px;
			}
		}
	}
}