.castle-list {
	&__body {}
	& .heading .title-sm {
		line-height: 104%;
	}
}

.category-castle {
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: start;
		gap: 20px;
		@media screen and (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
		@media screen and (max-width: $md) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	&__item {
		display: grid;
		align-items: start;
		gap: 8px;
	}
	&__image {
		border: 1px solid $stroke-light;
		border-radius: 12px;
		height: 115px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		@media screen and (max-width: $sm) {
			height: 50px;
			padding: 6px;
			border-radius: 6px;
		}
	}
	&__logo {
		@media screen and (max-width: $sm) {
			width: 42px;
			height: 36px;
		}
	}
	&__name {
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text;
		@media screen and (max-width: $md) {
			font-size: 12px;
			line-height: 14px;
		}
	}
}