.main-screen {
	background: $bg-seconadary;
	padding: 60px 0 60px;
	@media screen and (max-width: $lg) {
		padding: 34px 0 30px;
	}
	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 20px;
		@media screen and (max-width: $md) {
			display: block;
		}
		@media (any-hover:hover) {
			animation: animFade 1.5s linear forwards;
		}
	}
	&__title {
		font-weight: 600;
		color: $text-headings;
		@include adaptiv-value("font-size", 80, 26, 1);
		@include adaptiv-value("line-height", 88, 29, 1);
		& span {
			color: $text-contrast-primary;
			display: block;
		}
	}
	&__phone {
		@media screen and (max-width: $md) {
			display: none;
		}
		&-mobile {
			display: none;
			@media screen and (max-width: $md) {
				display: flex;
			}
		}
	}
	&__advantages {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 13px 30px;
		max-width: 1008px;
		@media screen and (max-width: $lg) {
			grid-template-columns: 1fr;
		}
		@media screen and (max-width: $md) {
			gap: 16px;
			margin-bottom: 30px;
		}
	}
	&__image-wrap {
		margin-top: 30px;
		position: relative;
		@media screen and (max-width: $md) {
			padding: 0 10px;
		}
	}
	&__image {
		padding-bottom: math.div(441, 1300) * 100%;
		border-radius: 28px;
		overflow: hidden;
		& img {
			border-radius: inherit;
		}
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__info {
		width: 459px;
		background: $bg-primary;
		border-radius: 28px;
		padding: 30px 30px;
		font-weight: 500;
		font-size: 20px;
		position: absolute;
		right: 40px;
		top: -55px;
		@media screen and (max-width: $lg) {
			width: 400px;
			top: -30px;
			right: 20px;
		}
		@media screen and (max-width: $md) {
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
			text-align: center;
		}
		& p {
			font-weight: 500;
			font-size: 20px;
			&:not(:last-child) {
				margin-bottom: 11px;
				@media screen and (max-width: $md) {
					margin-bottom: 8px;
				}
			}
			@media screen and (max-width: $md) {
				font-size: 16px;
				line-height: 120%;
			}
		}
		&-icon {
			width: 45px;
			height: 45px;
			border-radius: 0 50% 0 50%;
			border: 5px solid $bg-seconadary;
			position: absolute;
			top: -26px;
			right: -22px;
			background-image: url('/images/icons/info.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 40px 40px;
		}
		& span {
			font-weight: 700;
			color: $bg-contrast;
			@media screen and (max-width: $md) {
				display: inline-block;
			}
		}
	}
}
.main-screen__advantage {
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: $text-default-text-contrast;
	display: flex;
	align-items: center;
	gap: 5px;
	@media screen and (max-width: $md) {
		gap: 12px;
		font-size: 16px;
		line-height: 18px;
	}
	&-icon {
		position: relative;
		width: 47px;
		height: 47px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
	}
	&::before {
		content: "";
		display: block;
		width: 47px;
		height: 47px;
		background-repeat: no-repeat;
		background-position: center;
		flex-shrink: 0;
		@media screen and (max-width: $md) {
			width: 30px;
			height: 30px;
			background-size: 30px 30px;
		}
	}
	@media (any-hover: hover) {
		animation: animJump 0.5s ease-in-out both;
	}
}
@for $i from 1 through 3 {
	.main-screen__advantage--#{$i} {
		@media (any-hover: hover) {
			animation-delay: calc($i * 0.2s);
		}
		&::before {
			background-image: url('/images/main-screen/advantage-#{$i}.png');
			@media screen and (max-width: $md) {
				background-image: url('/images/main-screen/advantage-#{$i}-mob.png');
				;
			}
		}
	}
}
// svg circle.blurred {
//     filter: url(#blur);
// }

// services
.services {
	background: $bg-seconadary;
	padding: 60px 0 60px;
	@media screen and (max-width: $lg) {
		padding: 30px 0 30px;
	}
	& .heading {
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		@media screen and (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 1fr;
		}
	}
	&__item {}
}
.item-services {
	border-radius: 28px;
	min-height: 238px;
	position: relative;
	border-radius: 28px;
	cursor: pointer;
	padding-top: 8px;
	@media (any-hover: hover) {
		&:hover {
			&::before {
				height: calc(100% - 10px);
			}
			& .item-services__bottom::before {
				transform: translateX(15px);
				background-color: #336699;
			}
		}
	}
	@media screen and (max-width: $md) {
		padding-top: 5px;
		min-height: 98px;
	}
	&::before {
		content: "";
		width: 91%;
		height: 100%;
		background-color: #f9f9fb;
		border-radius: 28px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: auto;
		bottom: 0;
		pointer-events: none;
		z-index: 1;
		transition: height .25s;
		@media screen and (max-width: $md) {
			border-radius: 16px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		height: 100%;
		padding: 30px 30px;
		position: relative;
		z-index: 2;
		background-color: $bg-primary;
		border-radius: 28px;
		@media screen and (max-width: $md) {
			padding: 20px 20px;
			gap: 19px;
			border-radius: 16px;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 24px;
		color: $black;
		@media screen and (max-width: $md) {
			font-size: 16px;
			line-height: 18px;
			max-width: 88%;
		}
	}
	&__icon {
		width: 80px;
		height: 80px;
		flex-shrink: 0;
		@media screen and (max-width: $md) {
			width: 40px;
			height: 40px;
			position: absolute;
			right: 20px;
			bottom: 20px;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 20px;
		&::before {
			content: "";
			display: block;
			width: 35px;
			height: 24px;
			mask-image: url('/images/icons/arrow-right.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: #212226;
			transform-origin: left;
			transition: transform .25s, background-color .25s;
			@media screen and (max-width: $md) {
				mask-image: url('/images/icons/arrow-right-mob.svg');
				height: 16px;
				width: 35px;
				mask-size: 35px 16px;
			}
		}
	}
}

// request
.request {
	padding: 52px 0 120px;
	background: $bg-seconadary;
	@media screen and (max-width: $lg) {
		padding: 30px 0px 60px;
	}
	&__body {
		background-color: $bg-primary;
		border-radius: 28px;
		padding: 47px 15px 45px;
		background-repeat: no-repeat;
		background-position: 42.5% center;
		background-image: url('/images/request/decor.svg');
		background-size: 173px 380px;
		@media screen and (max-width: $lg) {
			background-image: none;
			padding: 40px 20px 40px;
		}
	}
	&__inner {
		display: grid;
		grid-template-columns: 382px 1fr;
		justify-content: space-between;
		gap: 20px;
		max-width: 1080px;
		margin: 0 auto;
		width: 100%;
		@media screen and (max-width: $lg) {
			grid-template-columns: 1fr;
			align-items: center;
			text-align: center;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media screen and (max-width: $lg) {
			gap: 10px;
		}
	}
	&__title {
		font-weight: 600;
		color: $text-headings;
		@include adaptiv-value("font-size", 40, 22, 1);
		@include adaptiv-value("line-height", 44, 24, 1);
	}
	&__sub-title {
		color: $text-button;
		@include adaptiv-value("font-size", 18, 14, 1);
		@include adaptiv-value("line-height", 24, 18, 1);
		& span {
			font-weight: 700;
			color: $bg-contrast;
			@media screen and (max-width: $md) {
				display: inline-block;
			}
		}
	}
	&__form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px;
		max-width: 530px;
		justify-self: end;
		@media screen and (max-width: $lg) {
			max-width: 100%;
			width: 100%;
			justify-content: center;
			text-align: center;
		}
		& .form-item {
			width: 100%;
		}
		& .form-text {
			max-width: 306px;
			font-weight: 400;
			font-size: 12px;
			line-height: 120%;
			color: $text-contrast-primary;
			& a {
				position: relative;
				display: inline-block;
				&::before {
					content: '';
					display: block;
					border-bottom: 1px solid $text-contrast-primary;
					transform: scaleX(1);
					transition: transform 250ms ease-in-out;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 1px;
				}
				@media (any-hover: hover) {
					&:hover {
						&::before {
							transform: scaleX(0);
						}
					}
				}
			}
			@media screen and (max-width: $lg) {
				max-width: 100%;
			}
		}
	}
	& .btn {
		width: 204px;
		@media screen and (max-width: $lg) {
			width: 100%;
		}
		@media screen and (max-width: $md) {
			background-color: $bg-contrast-2;
		}
	}
}

// services-detail 
.services-detail {
	&--first {
		& .services-detail__box {
			&:nth-child(1) {
				& .services-detail__item {
					max-width: 1217px;
				}
			}
			&:nth-child(2) {
				& .services-detail__body {
					gap: 0 138px;
					@media screen and (max-width: $xxl) {
						gap: 0 50px;
					}
				}
			}
		}
	}
	&--second {
		padding-top: 60px;
		@media screen and (max-width: $md) {
			padding-top: 30px;
		}
		& .services-detail__box {
			&:nth-child(odd) {
				& .services-detail__image-wrap::before {
					transform: rotate(4deg);
				}
			}
			&:nth-child(even) {
				& .services-detail__image-wrap::before {
					background-color: $bg-primary;
				}
				& .services-detail__title span {
					display: inline-block;
				}
			}
			&:nth-child(1) {
				& .services-detail__item {
					max-width: 1272px;
				}
			}
			&:nth-child(2) {
				& .services-detail__item {
					max-width: 1270px;
					margin-left: auto;
				}
				& .services-detail__body {
					gap: 0 108px;
					@media screen and (max-width: $xxl) {
						gap: 0 50px;
					}
				}
			}
		}
		& .services-detail__wrapper {
			max-width: 1740px;
			margin: 0 auto;
			border-radius: 28px;
			background-color: $bg-seconadary;
			overflow: hidden;
			gap: 133px 0;
			padding-bottom: 120px;
			@media screen and (max-width: $xxl) {
				gap: 100px 0;
			}
			@media screen and (max-width: $md) {
				gap: 60px 0;
				padding-bottom: 70px;
			}
		}
		& .services-slider {
			&__body {
				&::before {
					background-image: url('/images/service-detail/decor-blue-left.png');
					@media screen and (max-width: $md) {
						background-image: url('/images/service-detail/decor-blue-left-mob.png');

					}
				}
				&::after {
					background-image: url('/images/service-detail/decor-blue-right.png');
					@media screen and (max-width: $md) {
						background-image: url('/images/service-detail/decor-blue-right-mob.png');

					}
				}
			}
		}
	}
	&--third {
		& .services-detail__item {
			max-width: 1272px;
		}
		& .services-detail__box {
			&:nth-child(odd) {
				& .services-detail__title span {
					display: inline-block;
				}
			}
		}
		& .services-detail__wrapper {
			@media screen and (max-width: $md) {
				padding-bottom: 22px;
			}
		}
	}
	&__wrapper {
		padding: 150px 0 60px;
		display: flex;
		flex-direction: column;
		gap: 150px 0;
		@media screen and (max-width: $xxl) {
			padding: 100px 0 60px;
			gap: 100px 0;
		}
		@media screen and (max-width: $md) {
			gap: 60px 0;
			padding: 60px 0 30px;
		}
	}
	&__box {
		&:nth-child(even) {
			& .services-detail__body {
				flex-direction: row-reverse;
			}
		}
	}
	&__item {
		& .services-detail__button {
			@media screen and (max-width: $md) {
				display: none;
			}
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 110px;
		@media screen and (max-width: $xxl) {
			gap: 0 50px;
		}
		@media screen and (max-width: $md) {
			display: block;
		}
	}
	&__image-wrap {
		flex: 0 0 522px;
		position: relative;
		@media screen and (max-width: $xxl) {
			flex: 0 0 350px;
		}
		@media screen and (max-width: $md) {
			display: none;
		}
		&::before {
			content: "";
			width: calc(100% + 11px);
			height: calc(100% + 9px);
			position: absolute;
			top: -4px;
			left: -4px;
			background: $bg-tertiary;
			transform: rotate(-4deg);
			border-radius: 28px;
		}
	}
	&__image {
		padding-bottom: math.div(480, 522) * 100%;
		border-radius: 28px;
		overflow: hidden;
		& img {
			border-radius: inherit;
		}
	}
	&__content {
		display: grid;
		gap: 24px;
		@media screen and (max-width: $md) {
			gap: 30px;
		}
	}
	&__title {
		color: $text-headings;
		font-weight: 600;
		@include adaptiv-value("font-size", 40, 22, 1);
		@include adaptiv-value("line-height", 44, 24, 1);
		span {
			display: block;
			color: $text-contrast-primary;
		}
	}
	&__text {
		font-size: 18px;
		line-height: 23px;
		color: $text-default-text;
		& p {
			font-size: 18px;
			line-height: 24px;
			color: $text-default-text;
			&:not(:last-child) {
				margin-bottom: 12px;
			}
			@media screen and (max-width: $lg) {
				font-size: 16px;
				line-height: 20px;
			}
		}
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__button {
		max-width: 162px;
		margin-top: 16px;
		@media screen and (max-width: $md) {
			margin-top: 40px;
			max-width: 100%;
			border: 2px solid $bg-contrast-2;
			background-color: transparent;
		}
	}
	&__bottom {
		display: none;
		@media screen and (max-width: $md) {
			display: block;
		}
	}
}

// services-slider

.services-slider {
	position: relative;
	margin-top: 60px;
	@media screen and (max-width: $md) {
		margin-top: 30px;
	}
	&__body {
		overflow: visible;
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 267px;
			height: 117px;
			top: 0;
			// background: linear-gradient(90deg, #fff 0%, #fff 100%);
			background-repeat: no-repeat;
			background-size: 100% auto;
			z-index: 2;
			pointer-events: none;
			@media screen and (max-width: $md) {
				height: 100%;
				width: 47px;
				// background: linear-gradient(90deg, #fff 0%, #fff 100%);
			}
		}
		&::before {
			left: 0;
			background-image: url('/images/service-detail/decor-left.png');
			@media screen and (max-width: $md) {
				background-image: url('/images/service-detail/decor-left-mob.png');
			}
		}
		&::after {
			right: 0;
			background-image: url('/images/service-detail/decor-right.png');
			@media screen and (max-width: $md) {
				background-image: url('/images/service-detail/decor-right-mob.png');
			}
		}
	}
	&__wrapper {
		.in-active & {
			justify-content: center;
		}
	}
	&__item {
		border: 1px solid $stroke-light;
		border-radius: 12px;
		width: 204px;
		height: 117px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		padding: 5px;
		@media screen and (max-width: $md) {
			border-radius: 6px;
			height: 50px;
			width: 87px;
		}
	}
	&__image {
		width: 96px;
		height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: $md) {
			width: 41px;
			height: 41px;
		}
	}
}

.slider-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-top: 30px;
	@media screen and (max-width: $md) {
		display: none;
	}
	.in-active & {
		display: none;
	}
}
.slider-button {
	width: 36px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&::before {
		content: "";
		width: 36px;
		height: 25px;
		display: block;
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: $bg-contrast;
		@include transition(background-color, ease .25s)
	}
	&-prev {
		&::before {
			mask-image: url('/images/icons/arrow-prev.svg');
		}
	}
	&-next {
		&::before {
			mask-image: url('/images/icons/arrow-next.svg');
		}
	}
	@media (any-hover:hover) {
		&:hover {
			&::before {
				background-color: $button-link-hover;
			}
		}
	}
	.swiper-button-disabled {
		pointer-events: none;
		background-color: $button-link-hover;
	}
}

// questions
.questions {
	padding: 60px 0 60px;
	@media screen and (max-width: $md) {
		padding: 30px 0 30px;
	}
	&__wrapper {
		padding-bottom: 49px;
		position: relative;
		@media screen and (max-width: $md) {
			padding-bottom: 81px;
		}
	}
	&__body {
		border-radius: 28px;
		min-height: 204px;
		background: $bg-contrast-2;
		padding: 58px 15px;
		background-image: url('/images/questions/decor.svg');
		background-repeat: no-repeat;
		background-position: 53.5% center;
		background-size: 173px 380px;
		position: relative;
		@media screen and (max-width: $lg) {
			background-image: none;
			padding: 40px 20px 59px;
		}
	}
	&__inner {
		max-width: 1080px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: $lg) {
			flex-direction: column;
			text-align: center;
		}
	}
	&__content {
		max-width: 460px;
		display: grid;
		gap: 20px;
		@media screen and (max-width: $lg) {
			max-width: 100%;
			gap: 10px;
		}
	}
	&__title {
		font-weight: 600;
		color: $text-headings;
		@include adaptiv-value("font-size", 40, 22, 1);
		@include adaptiv-value("line-height", 44, 24, 1);
	}
	&__sub-title {
		@include adaptiv-value("font-size", 18, 14, 1);
		@include adaptiv-value("line-height", 23, 20, 1);
		color: $text-button;
	}
	&__info {
		position: absolute;
		left: 52.9%;
		transform: translateX(-50%);
		bottom: 0;
		border-radius: 28px;
		padding: 20px;
		background-color: $bg-seconadary;
		width: 417px;
		min-height: 84px;
		@media screen and (max-width: $lg) {
			left: 50%;
		}
		@media screen and (max-width: $md) {
			min-height: 120px;
			width: 234px;
			padding: 20px 14px 20px;
			text-align: center;
		}
		& p {
			font-weight: 500;
			font-size: 18px;
			line-height: 120%;
			color: $text-default-text-contrast;
			@media screen and (max-width: $md) {
				font-size: 16px;
			}
			& span {
				font-weight: 700;
				color: $bg-contrast;
			}
		}
		&-icon {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 50%);
			border-radius: 50%;
			background-color: $white;
			width: 45px;
			height: 45px;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-image: url('/images/icons/info-white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}
	& .btn-phone {
		background-color: $bg-contrast;
		&__text {
			color: $white;
		}
		&__icon {
			background-color: $white;
			&::before {
				background-color: $bg-contrast;
				// animation: trin 6s linear infinite;
			}
		}
	}
}

.main-about {
	padding: 70px 0 70px;
	@media screen and (max-width: $md) {
		padding: 30px 0 30px;
	}
	& .heading {
		@include adaptiv-value("margin-bottom", 40, 30, 1)
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 108px;
		max-width: 1275px;
		@media screen and (max-width: $xxl) {
			gap: 20px;
		}
		@media screen and (max-width: $md) {
			display: block;
		}
	}
	&__stats {
		margin-bottom: 38px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@media screen and (max-width: $lg) {
			gap: 5px;
		}
		@media screen and (max-width: $md) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin: 0;
		}
	}
	&__item {}
	&__button {
		margin-top: 31px;
	}
	&__image-wrap {
		flex: 0 0 530px;
		position: relative;
		margin: 15px 0 0;
		@media screen and (max-width: $xxl) {
			flex: 0 0 350px;
		}
		@media screen and (max-width: $lg) {
			flex: 0 0 280px;
		}
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__image {
		padding-bottom: math.div(518, 530) * 100%;
		border-radius: 28px;
		overflow: hidden;
		& img {
			border-radius: inherit;
		}
	}
	& .content p {
		margin-bottom: 9px;
	}
	& .text-hidden {
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__btn {
		display: none;
		margin-top: 40px;
		@media screen and (max-width: $md) {
			display: flex;
		}
	}
}

.text-hidden {
	&-content {
		position: relative;
		max-height: 226px;
		overflow: hidden;
		transition: max-height .5s ease 0s;
	}
	&-content__gradient {
		position: absolute;
		width: 100%;
		height: 114px;
		left: 0;
		bottom: 0px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5.9%, #FFF 100.00%);
		transition: opacity .25s;
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
		.active & {
			opacity: 0;
		}
	}
}

.stats-item {
	background-color: $bg-seconadary;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 20px;
	@include adaptiv-value("padding", 20, 10, 1);
	@media screen and (max-width: $lg) {
		border-radius: 10px;
	}
	&__num {
		font-weight: 600;
		color: $bg-contrast;
		@include adaptiv-value("font-size", 42, 20, 1);
		@include adaptiv-value("line-height", 46, 22, 1);
	}
	&__text {
		font-weight: 500;
		color: $text-contrast-primary;
		@include adaptiv-value("font-size", 16, 10, 1);
		@include adaptiv-value("line-height", 18, 11, 1);
	}
}

// testimonials
.testimonials {
	padding: 75px 0 60px;
	@media screen and (max-width: $md) {
		padding: 30px 0 30px;
		& .heading {
			margin: 0;
		}
	}
	&__wrapper {
		max-width: 1740px;
		margin: 0 auto;
		border-radius: 28px;
		background-color: $bg-seconadary;
		padding: 120px 0;
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			right: 26px;
			bottom: -53px;
			display: block;
			width: 757px;
			height: 627px;
			background-image: url('/images/testimonials/quote.svg');
			background-size: 757px 627px;
			background-position: right 26px, 150%;
			background-repeat: no-repeat;
		}
		@media screen and (max-width: $md) {
			padding: 60px 0;
			&::before {
				content: none;
			}
		}
	}
	&__body {
		display: flex;
		align-items: flex-start;
		gap: 0 100px;
		@media screen and (max-width: $xxl) {
			gap: 40px;
		}
		@media screen and (max-width: $md) {
			flex-direction: column-reverse;
		}
	}
	&__module {
		width: 560px;
		height: 700px;
		overflow: hidden;
		position: relative;
		border-radius: 22px;
		& iframe {
			border-radius: 22px !important;
		}
		@media screen and (max-width: $md) {
			width: 100%;
			height: 650px;
			& .badge__more-reviews-link-wrap:after {
				content: none;
			}
			& .badge {
				min-width: 200px;
			}
		}
	}
}

// geography
.geography {
	padding: 60px 0 60px;
	@media screen and (max-width: $md) {
		padding: 30px 0 30px;
	}
	&__wrapper {
		max-height: 304px;
		overflow: hidden;
		position: relative;
		transition: max-height .5s;
		@media screen and (max-width: $md) {
			max-height: 180px;
		}
	}
	&__gradient {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 120px;
		background-image: url('/images/geography/gradient.png');
		background-repeat: no-repeat;
		background-size: cover;
		transition: opacity .5s;
		.active & {
			opacity: 0;
		}
		@media screen and (max-width: $lg) {
			height: 79px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5.9%, #FFF 70.00%);
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		@media screen and (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 1fr;
		}
	}
	&__list {
		display: grid;
		gap: 19px 20px;
		@media screen and (max-width: $md) {
			gap: 12px;
		}
	}
	&__list-item {
		display: flex;
		align-items: center;
		gap: 12px;
		font-size: 18px;
		color: $text-default-text;
		@media screen and (max-width: $md) {
			font-size: 14px;
		}
		&::before {
			content: "";
			display: block;
			width: 28px;
			height: 28px;
			flex-shrink: 0;
			background-image: url('/images/icons/station.svg');
			background-repeat: no-repeat;
			background-position: center;
			@media screen and (max-width: $md) {
				width: 20px;
				height: 20px;
				background-size: 20px 20px;
			}
		}
	}
	&__button {
		margin: 18px auto 0;
		text-align: center;
		display: flex;
		justify-content: center;
		@media screen and (max-width: $md) {
			margin: 10px auto 0;
		}
	}
}