.service-card {
	&__content {
		& .disclamer p {
			margin-bottom: 0;
		}
		& table {
			margin: 0;
			& tr {
				grid-template-columns: 1fr 219px;
			}
		}
		@media screen and (max-width: $md) {
			& .heading {
				margin-bottom: 20px;
			}
			& .table-wrap {
				margin: 0 -20px 0;
			}
		}
	}
}