.service-list {
	& .page-title span {
		display: inline-block;
	}
	&__wrapper {
		display: grid;
		gap: 100px;
	}
	&__content {
		max-width: 100%;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 23px 20px;
		@media screen and (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
		@media screen and (max-width: $lg) {
			grid-template-columns: 1fr;
		}
	}
	& .item-services {
		&::before {
			background-color: #e9eaee;
		}
		&__content {
			background-color: $bg-seconadary;
		}
	}
}